.rodape-listagem {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid var(--cor-bordas);
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}
.quantidade-livros {
    font-size: 0.8em;
    color: var(--textos-paginas);
    font-weight: 600;
}
.paginacao {
    display: flex;
    align-items: center;
    gap: 20px;
}
.botao-pagina {
    border: none;
    background-color: transparent;
    color: var(--textos-paginas);
    font-size: 15px;
    cursor: pointer;
}
.pagina-atual {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--azul-escuro);
    color: var(--branco);
    font-size: 0.8em;
    font-weight: 700;
}